<section class="membership-landingpage-first">
	<div class="membership-landingpage-first-title">
		<span>Sell with us</span>
	</div>

	<div class="membership-landingpage-first-image" style="background-image: url('images/homepage_slides/7.png')">
		<div class="image-overlap">
			<div class="membership-landingpage-first-image-title"> <span> <%= "@sliders[i-1].header" %> </span> </div>
			<div class="membership-landingpage-first-image-text" > <span><%= "@sliders[i-1].slogan" %> </span> </div>
		</div>
		<div class="start-free-trial-button">
			<%= link_to "Start your 30-day free trial", memberships_plans_path, class:"btn btn-success" %>
		</div>
	</div>
</section>