<section class="membership-landingpage-sixth">
    <div class="membership-landingpage-sixth-image" style="background-image: url('images/homepage_slides/7.png')">
        <div class="image-overlap">
            <div class="membership-landingpage-sixth-image-title"> <span> <%= "@sliders[i-1].header" %> </span> </div>    
            <div class="membership-landingpage-sixth-image-mini-text" > <span><%= "@sliders[i-1].slogan" %> </span> </div>
            <div class="membership-landingpage-sixth-image-button">
                <%= link_to "Start your 30-day free trial", memberships_plans_path, class:"btn btn-success" %>
            </div>
        </div>
    </div>
</section>