<section class="membership-landingpage-fourth">
    <div class="membership-landingpage-fourth-image" style="background-image: url('images/homepage_slides/7.png')">
        <div class="membership-landingpage-fourth-image-title"> <span> <%= "@sliders[i-1].header" %> </span> </div>
        <div class="image-overlap">
            <div class="membership-landingpage-fourth-image-mini-text" style="padding-top: 30px"> <span><%= "@sliders[i-1].slogan" %> </span> </div>
        </div>
    </div>
</section>