<div class="row">
  <div class="col-sm-4">
    <div class="field-desc smaller">
      Cancellations &amp; Returns
      <span class="info-tooltip" data-tooltip="Explain your cancellations and returns policy, include the time scales and additional information about cancellation &amp; return process including costs involved if any.">i</span>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="form-group">
      <%= f.text_area :cancellations_and_returns, placeholder: 'Enter Cancellations & Returns Policy', class: 'form-control' %>
    </div>
  </div>
</div>
