<div class="row">
  <div class="col-sm-4">
    <div class="field-desc">
      Warranty
      <span class="info-tooltip" data-tooltip="Explain your warranty policy including the timescales.">i</span>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="form-group">
      <%= f.text_area :warranty, placeholder: 'Enter Warranty Policy', class: 'form-control' %>
    </div>
  </div>
</div>
