	<!-- BENEFITS --> 
	<section class="benefits">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="whitebox benefits-box">
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1 ">
<%= $template.mainpage_benefits.html_safe %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- BENEFITS END -->
	
	<!-- ICO BENEFITS -->
	<section class="benefits-icons">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="whitebox benefits-ico-box">
<%= $template.mainpage_options.html_safe %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- BENEFITS ICO END -->