	<!-- FEATURED IN START -->
	<section class="featured-in">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="whitebox featured-box">
						<ul class="featured-in-list">
<%= $template.mainpage_featured_in.html_safe %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- FEATURED IN END -->