<!-- START SLIDER -->
<section class="mainpage-slider">
  <div class="owl-carousel" id="owl-mainpage">
    <% (1..7).each do |i| %>
      <div class="mainpage-slider-slide" style="background-image: url('images/homepage_slides/<%= i %>.png')">

      </div>
    <% end -%>
  </div>
</section>
<!-- END SLIDER -->
