<section class="mainpage-slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 have-pad-50">
        <div class="owl-carousel" id="owl-carousel">
          <div class="mainpage-slider-slide" style="background-image: url('/images/support_slides/2.jpg')"></div>
          <div class="mainpage-slider-slide" style="background-image: url('/images/support_slides/slider3.jpg')"></div>
        </div>
      </div>
    </div>
  </div>
</section>