<div class='row'>
  <div class='col-sm-2 col-sm-offset-1'><%= coupon_code.name %></div>
  <div class='col-sm-3'><%= coupon_code.discount %>% DISCOUNT</div>
  <div class='col-sm-5'><%= expiration_message(coupon_code.expiration_date) %></div>
</div>
