<section class="how_it_works_section container">
    <h1 class="how_it_works_section_title"> How it Works</h1>
    <div class="how_it_works_items row">
        <div class="how_it_works_item col-xs-6 col-md-3">
            <img src="images/how_it_works/1.png" />
            
            <p class="item-title">Post Listing</p>
            <span class="item-content">
                Lorem ipsum dolor sit
                  amet, consectetur
                adipisicing elit,sed do
            </span>
        </div>
        <div class="how_it_works_item col-xs-6 col-md-3">
            <img src="images/how_it_works/1.png" />
            <p class="item-title">Post Listing</p>
            <span class="item-content">
                Lorem ipsum dolor sit
                  amet, consectetur
                adipisicing elit,sed do
            </span>
        </div>
        <div class="how_it_works_item col-xs-6 col-md-3">
            <img src="images/how_it_works/1.png" />
            <p class="item-title">Post Listing</p>
            <span class="item-content">
                Lorem ipsum dolor sit
                  amet, consectetur
                adipisicing elit,sed do
            </span>
        </div>
        <div class="how_it_works_item col-xs-6 col-md-3">
            <img src="images/how_it_works/1.png" />
            <p class="item-title">Post Listing</p>
            <span class="item-content">
                Lorem ipsum dolor sit
                  amet, consectetur
                adipisicing elit,sed do
            </span>
        </div>
    </div>
</section>