# Add configuration values here, as shown below.
AWS_BUCKET:
FOG_DIR:
S3_ASSET_URL:
AWS_ACCESS_KEY:
AWS_SECRET_KEY:
AWS_REGION:

STRIPE_SECRET:
STRIPE_PUB_KEY:
PRODUCTION_STRIPE_SECRET:
PRODUCTION_STRIPE_PUB_KEY:
STRIPE_TEST_SECRET:
STRIPE_TEST_PUB_KEY:

RECAPTCHA_PUBLIC_KEY:
RECAPTCHA_PRIVATE_KEY:
GEOIP_API_KEY:
DATABASE_PASSWORD:
SENDPULSE_API_CLIENT_ID:
SENDPULSE_API_CLIENT_SECRET:
SENDPULSE_API_NEWSLETTER_ID:
SENDGRID_USER:
SENDGRID_PASS:
SENDY_URL:
SENDY_API_KEY:
SENDY_LIST_ID:
PAYPAL_LOGIN:
PAYPAL_PASSWORD:
PAYPAL_SECRET: