.podcast-hero-image {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100vw;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.podcast-hero-text {
  width: 300px;
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 41px 20px;
  position: relative;
  top: 30px;
  left: 12%;
  font-size: 14px;
}